[project]
	description = ONOS/CORD Working Group Seminar Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jian Li (gunine)
[access "refs/for/refs/*"]
	read = group user/Jian Li (gunine)
	push = group user/Jian Li (gunine)
	label-Code-Review = -2..+2 group user/Jian Li (gunine)
	label-Verified = -1..+1 group user/Jian Li (gunine)
	rebase = group user/Jian Li (gunine)
	removeReviewer = group user/Jian Li (gunine)
	submit = group user/Jian Li (gunine)
[access "refs/heads/*"]
	read = group user/Jian Li (gunine)
	create = group user/Jian Li (gunine)
	push = +force group user/Jian Li (gunine)
	pushMerge = group user/Jian Li (gunine)
[access "refs/tags/*"]
	push = group user/Jian Li (gunine)
	push = +force group user/Jian Li (gunine)
